---
---

@import "reset";

body {
  font: 16px/1.35 sans-serif;
}

.site-header {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1.5em;
}

.site-logo {
  display: block;
  margin: 1.5em auto;
  height: 4em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  background: lightgray;
  padding: .25em .5em;
}

.nav-links .current {
  cursor: default;
  text-decoration: none;
  color: black;
}

.container {
  padding: 0 1.5rem;
}

.home-graphic, .photos, .music {
  margin: 1.5rem auto;
}

.photos, .music {
  display: grid;
  grid-gap: 1.5rem;

  & img, & audio {
    max-width: 100%;
  }
}

footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 1em 1em 1.5em;
  margin-top: 3em;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
}

p {
  margin: .5em auto;
}

footer small {
  font-size: .75em;
}

